/* Blog Grid Styles */


.news-four{
	position:relative;
	overflow:hidden;
	padding:110px 0px 110px;
}


.news-block_two{
	position: relative;
	margin-bottom:30px;
}


.news-block_two-inner{
	position: relative;
	background-color: var(--white-color);
	box-shadow:0px 0px 15px rgba(0,0,0,0.10);
}


.news-block_two-image{
	position: relative;
	overflow: hidden;
	background-color: var(--main-color);
}


.news-block_two-image img{
	position: relative;
	width: 100%;
	display: block;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}


.news-block_two-inner:hover .news-block_two-image img{
	opacity: 0.70;
	transform: scale(1.04,1.04) rotate(1deg);
}


.news-block_two-image:before{
	position: absolute;
	top: 0;
	left: -85%;
	z-index: 99;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 100%);
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .7)));
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 100%);
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	transform: skewX(-25deg);
}


.news-block_two-inner:hover .news-block_two-image:before{
	-webkit-animation: shine 1s;
	animation: shine 1s;
}


.news-block_two-date{
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index:10;
	font-size: 14px;
	font-weight: 600;
	padding:6px 15px;
	letter-spacing:1px;
	color: var(--white-color);
	text-transform:uppercase;
	background-color: var(--color-three);
}


.news-block_two-content{
	position: relative;
	padding: 25px 25px 30px;
}


.news-block_two-meta{
	position:relative;
}


.news-block_two-meta li{
	position:relative;
	font-size:18px;
	margin-right:15px;
	display:inline-block;
	color: var(--color-five);
	font-family: "Outfit", serif;
}


.news-block_two-meta li:last-child{
	margin-right:0px;
}


.news-block_two-meta li span{
	position:relative;
	margin-right:8px;
	font-weight:500;
	top:2px;
	color: var(--color-three);
	font-family: "flaticon_mycollection";
}


.news-block_two-heading{
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
	color: var(--color-five);
}


.news-block_two-heading a{
	position: relative;
	color: var(--color-five);
}


.news-block_two-heading a:hover{
	color: var(--color-three);
}


.news-block_two-more{
	position: relative;
	font-size: 16px;
	font-weight:600;
	display:block;
	text-align:center;
	padding:14px 15px;
	font-weight:600;
	letter-spacing:2px;
	color: var(--white-color);
	text-transform:uppercase;
	background-color: var(--color-three);
	font-family: "Outfit", serif;
}


.news-block_two-more:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}


.styled-pagination{
	position:relative;
	margin-top: 20px;
}


.styled-pagination li{
	position:relative;
	display:inline-block;
	margin:0px 5px 10px 0px;
}


.styled-pagination li a{
	position:relative;
	display:inline-block;
	line-height:58px;
	height:60px;
	width:60px;
	font-size:20px;
	min-width:50px;
	font-weight:600;
	text-align:center;
	border-radius: 50px;
	text-transform:capitalize;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	color:var(--black-color);
	border:1px solid rgba(0,0,0,0.40);
}


.styled-pagination li.prev a,
.styled-pagination li.next a{
	height:60px;
	width:60px;
	color:var(--white-color);
	background-image:none;
	background-color:var(--main-color);
}


.styled-pagination li a:hover,
.styled-pagination li a.active{
	color:var(--white-color);
	border-color:var(--color-two);
	background-color:var(--color-two);
}

/* Blog Grid Typography Fixes */
.news-block_two-heading a {
    font-weight: 700;
    color: #1a1e21;
}
.news-block_two-heading a:hover {
    color: #569D03;
}
.page-title h2 {
    font-weight: 700;
}

