

.project-block_one{
	position:relative;
	margin-bottom:30px;
}


.project-block_one-inner{
	position:relative;
	overflow:hidden;
	border-radius:10px;
}


.project-block_one-image{
	position:relative;
}


.project-block_one-image img{
	position:relative;
	width:100%;
	display:block;
}


.project-block_one-image:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	background: linear-gradient(to top, rgba(var(--black-color-rgb), 1) 0%, rgba(var(--white-color-rgb), 0) 100%);
}


.project-block_one-inner:hover .project-block_one-image img{
	transform:scale(1.04,1.04) rotate(2deg);
}


.project-block_one-inner:hover .project-block_one-content{
	bottom:50px;
}


.project-block_one-inner:hover .project-block_one-text{
	opacity:1;
}


.project-block_one-content{
	position:absolute;
	left:35px;
	z-index:2;
	right:35px;
	bottom:-80px;
}


.project-block_one-title{
	position:relative;
}


.project-block_one-title a{
	position:relative;
	color:var(--white-color);
}


.project-block_one-title a:hover{
	color:var(--color-two);
}


.project-block_one-text{
	position:relative;
	margin-top:15px;
	opacity:0;
	color:var(--white-color);
}


.project-block_one-arrow{
	position:absolute;
	right:30px;
	bottom:0px;
	width:60px;
	height:60px;
	z-index:2;
	opacity:0;
	font-size:22px;
	line-height:62px;
	text-align:center;
	display:inline-block;
	color:var(--black-color);
	transform:scale(0.2,1);
	border-radius:50px 50px 0px 0px;
	background-color:var(--color-two);
	font-family: "flaticon_mycollection";
}


.project-block_one-arrow:hover{
	color:var(--white-color);
	background-color:var(--main-color);
}


.project-block_one-inner:hover .project-block_one-arrow{
	opacity:1;
	transform:scale(1,1);
}


.project-block_two{
	position:relative;
	margin-bottom:30px;
}


.project-block_two-inner{
	position:relative;
	overflow:hidden;
	border-radius:10px;
}


.project-block_two-image{
	position:relative;
}


.project-block_two-image img{
	position:relative;
	width:100%;
	display:block;
}


.project-block_two-image:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	background: linear-gradient(to top, rgba(var(--black-color-rgb), 1) 0%, rgba(var(--white-color-rgb), 0) 100%);
}


.project-block_two-inner:hover .project-block_two-image img{
	transform:scale(1.04,1.04) rotate(2deg);
}


.project-block_two-inner:hover .project-block_two-content{
	bottom:30px;
	opacity:1;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}


.project-block_two-inner:hover .project-block_two-text{
	opacity:1;
}


.project-block_two-content{
	position:absolute;
	left:30px;
	z-index:2;
	right:30px;
	opacity:0;
	bottom:-160px;
	border-radius:8px;
	padding:25px 25px;
	background-color:#f5f5f5;
}


.project-block_two-title-box{
	position:absolute;
	left:35px;
	z-index:2;
	right:35px;
	bottom:35px;
}


.project-block_two-inner:hover .project-block_two-title-box{
	bottom:-40px;
}


.project-block_two-title{
	position:relative;
	color:var(--white-color);
}


.project-block_two-title a{
	position:relative;
	color:var(--color-five);
}


.project-block_two-title a:hover{
	color:var(--color-two);
}


.project-block_two-text{
	position:relative;
	margin-top:10px;
	color:#666666;
}


.project-block_two-arrow{
	position:absolute;
	right:30px;
	top:30px;
	width:60px;
	height:60px;
	z-index:2;
	opacity:0;
	font-size:22px;
	line-height:62px;
	text-align:center;
	display:inline-block;
	color:var(--black-color);
	transform:scale(0.2,1);
	border-radius:50px 50px;
	background-color:var(--color-two);
	font-family: "flaticon_mycollection";
}


.project-block_two-arrow:hover{
	color:var(--white-color);
	background-color:var(--main-color);
}


.project-block_two-inner:hover .project-block_two-arrow{
	opacity:1;
	transform:scale(1,1);
}


.project-block_three{
	position: relative;
	margin-bottom:30px;
}


.project-block_three-inner{
	position: relative;
	overflow: hidden;
}


.project-block_three-image{
	position: relative;
	background-color:var(--color-five);
}


.project-block_three-image img{
	position: relative;
	width: 100%;
	display: block;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}


.project-block_three-inner:hover .project-block_three-image img{
	opacity:0.60;
	transform: scale(1.08,1.08);
}


.project-block_three-content{
	position: absolute;
	left: 15px;
	bottom: 15px;
	display: inline-block;
}


.project-block_three-title{
	position: relative;
	padding: 8px 30px;
	font-size: 12px;
	opacity: 0;
	letter-spacing:2px;
	font-weight: 700;
	letter-spacing: 0.5px;
	display: inline-block;
	color: var(--color-five);
	text-transform: uppercase;
	transform: translateX(-150px);
	background-color: var(--white-color);
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}


.project-block_three-inner:hover .project-block_three-title{
	opacity: 1;
	transform: translateX(0px);
}


.project-block_three-heading{
	position: relative;
	padding: 10px 20px;
	opacity: 0;
	display: inline-block;
	color: var(--white-color);
	transform: translateX(-150px);
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	background-color: var(--main-color);
}


.project-block_three-heading a{
	position: relative;
	color: var(--white-color);
}


.project-block_three-inner:hover .project-block_three-heading{
	opacity: 1;
	transform: translateX(0px);
	-webkit-transition-delay: 400ms;
	-moz-transition-delay: 400ms;
	-ms-transition-delay: 400ms;
	-o-transition-delay: 400ms;
	transition-delay: 400ms;
}


.project-detail{
	position:relative;
	padding:110px 0px 120px;
}


.project-detail_image{
	position:relative;
	overflow:hidden;
	border-radius:50px;
	margin-bottom:30px;
}


.project-detail_image img{
	position:relative;
	width:100%;
	display:block;
}


.project-detail_info{
	position:relative;
	margin-top:80px;
	display:flex;
	margin-bottom:80px;
	border-radius:25px;
	border:1px solid rgba(var(--black-color-rgb), 0.20);
}


.project-detail_info li{
	position:relative;
	padding:25px 25px;
	width:20%;
	font-size:16px;
	flex-wrap:wrap;
	color:#666666;
	border-right:1px solid rgba(var(--black-color-rgb), 0.20);
}


.project-detail_info li span{
	position:relative;
	display:block;
	font-size:20px;
	font-weight:700;
	margin-top:10px;
	color:var(--black-color);
	font-family: "Outfit", serif;
}


.project-detail_info li:last-child{
	border:none;
}


.project-detail_lists{
	position:relative;
}


.project-detail_lists li{
	position:relative;
	font-size:24px;
	font-weight:600;
	margin-bottom:20px;
	padding-left:50px;
	color:var(--black-color);
	font-family: "Outfit", serif;
}


.project-detail_lists li:before{
	position: absolute;
    content: "\f142";
    left: 0px;
    top: 2px;
    width: 30px;
    height: 30px;
	font-size:14px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    color: var(--white-color);
    font-family: "flaticon_mycollection";
    background-color: var(--main-color);
}


.project-detail_gallery{
	position:relative;
	margin-top:30px;
	margin-bottom:50px;
}


.project-detail .no-marging{
	margin-bottom:0px;
}


.project-one{
	position: relative;
	padding: 120px 0px 100px;
	background-color:#F5F5F5;
}


.project-one .auto-container{
	max-width:1320px;
}


.project-block_four.style-two .project-block_four-overlay{
	display: flex;
    justify-content: end;
}


.project-block_four.style-two .project-block_four-image:before{
	left:-1px;
	right:auto;
	background:url(../images/icons/shape-4.png);
}


.project-block_four{
	position:relative;
	margin-bottom:50px;
}


.project-block_four-inner{
	position:relative;
}


.project-block_four-image{
	position:relative;
}


.project-block_four-image img{
	position:relative;
	width:100%;
	display:block;
	overflow:hidden;
	border-radius:40px 40px 40px 40px;
}


.project-block_four-image:before{
	position:absolute;
	content:'';
	right:0px;
	top:-1px;
	width:393px;
	height:111px;
	z-index:1;
	background:url(../images/icons/shape-3.png);
	background-repeat:no-repeat;
}


.project-block_four-overlay{
	position:absolute;
	left:100px;
	top:110px;
	right:130px;
}


.project-block_four-overlay_inner{
	position:relative;
	width:100%;
	max-width:478px;
	min-height:332px;
	padding:42px 45px 42px;
	background-size:cover;
}


.project-block_four-title{
	position:relative;
	font-weight:600;
	font-size:18px;
	color:var(--main-color);
	text-transform:capitalize;
}


.project-block_four-location{
	position:relative;
	font-weight:600;
	font-size:18px;
	display:flex;
	gap:15px;
	align-items:center;
	color:var(--black-color);
	text-transform:capitalize;
}


.project-block_four-location .icon{
	position:relative;
	width:24px;
	display:inline-block;
}


.project-block_four-heading{
	font-weight:700;
	margin-top:18px;
}


.project-block_four-heading a{
	position:relative;
	color:var(--black-color);
}


.project-block_four-heading a:hover{
	color:var(--main-color);
}


.project-block_four-text{
	position:relative;
	font-weight:400;
	font-size:16px;
	color:#666666;
	line-height:30px;
	margin-top:25px;
	text-transform:capitalize;
}


.project-block_four-arrow{
	position:absolute;
	right:66px;
	bottom:-30px;
	width:59px;
	height:59px;
	font-size:20px;
	line-height:59px;
	text-align:center;
	border-radius:50px;
	display:inline-block;
	color:var(--white-color);
	transform:rotate(-45deg);
	background-color:var(--main-color);
}


.project-block_four-arrow:hover{
	background-color:var(--black-color);
}


/* Pagination */


.styled-pagination{
	position:relative;
	margin-top: 20px;
}


.styled-pagination li{
	position:relative;
	display:inline-block;
	margin:0px 5px 10px 0px;
}


.styled-pagination li a{
	position:relative;
	display:inline-block;
	line-height:58px;
	height:60px;
	width:60px;
	font-size:20px;
	min-width:50px;
	font-weight:600;
	text-align:center;
	border-radius: 50px;
	text-transform:capitalize;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	color:var(--black-color);
	border:1px solid rgba(0,0,0,0.40);
}


.styled-pagination li.prev a,
.styled-pagination li.next a{
	height:60px;
	width:60px;
	color:var(--white-color);
	background-image:none;
	background-color:var(--main-color);
}


.styled-pagination li a:hover,
.styled-pagination li a.active{
	color:var(--white-color);
	border-color:var(--color-two);
	background-color:var(--color-two);
}


/* Project Detail Styles */


.project-detail{
	position:relative;
	padding:110px 0px 120px;
}


.project-detail_image{
	position:relative;
	overflow:hidden;
	border-radius:50px;
	margin-bottom:30px;
}


.project-detail_image img{
	position:relative;
	width:100%;
	display:block;
}


.project-detail_info{
	position:relative;
	margin-top:80px;
	display:flex;
	margin-bottom:80px;
	border-radius:25px;
	border:1px solid rgba(var(--black-color-rgb), 0.20);
}


.project-detail_info li{
	position:relative;
	padding:25px 25px;
	width:20%;
	font-size:16px;
	flex-wrap:wrap;
	color:#666666;
	border-right:1px solid rgba(var(--black-color-rgb), 0.20);
}


.project-detail_info li span{
	position:relative;
	display:block;
	font-size:20px;
	font-weight:700;
	margin-top:10px;
	color:var(--black-color);
	font-family: "Outfit", serif;
}


.project-detail_info li:last-child{
	border:none;
}


.project-detail_lists{
	position:relative;
}


.project-detail_lists li{
	position:relative;
	font-size:24px;
	font-weight:600;
	margin-bottom:20px;
	padding-left:50px;
	color:var(--black-color);
	font-family: "Outfit", serif;
}


.project-detail_lists li:before{
	position: absolute;
    content: "\f142";
    left: 0px;
    top: 2px;
    width: 30px;
    height: 30px;
	font-size:14px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    color: var(--white-color);
    font-family: "flaticon_mycollection";
    background-color: var(--main-color);
}


.project-detail_gallery{
	position:relative;
	margin-top:30px;
	margin-bottom:50px;
}


.project-detail .no-marging{
	margin-bottom:0px;
}


.project-block_two{
	position:relative;
	margin-bottom:30px;
}


.project-block_two-inner{
	position:relative;
	overflow:hidden;
	border-radius:10px;
}


.project-block_two-image{
	position:relative;
}


.project-block_two-image img{
	position:relative;
	width:100%;
	display:block;
}


.project-block_two-image:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	background: linear-gradient(to top, rgba(var(--black-color-rgb), 1) 0%, rgba(var(--white-color-rgb), 0) 100%);
}


.project-block_two-inner:hover .project-block_two-image img{
	transform:scale(1.04,1.04) rotate(2deg);
}


.project-block_two-inner:hover .project-block_two-content{
	bottom:30px;
	opacity:1;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}


.project-block_two-inner:hover .project-block_two-text{
	opacity:1;
}


.project-block_two-content{
	position:absolute;
	left:30px;
	z-index:2;
	right:30px;
	opacity:0;
	bottom:-160px;
	border-radius:8px;
	padding:25px 25px;
	background-color:#f5f5f5;
}


.project-block_two-title-box{
	position:absolute;
	left:35px;
	z-index:2;
	right:35px;
	bottom:35px;
}


.project-block_two-inner:hover .project-block_two-title-box{
	bottom:-40px;
}


.project-block_two-title{
	position:relative;
	color:var(--white-color);
}


.project-block_two-title a{
	position:relative;
	color:var(--color-five);
}


.project-block_two-title a:hover{
	color:var(--color-two);
}


.project-block_two-text{
	position:relative;
	margin-top:10px;
	color:#666666;
}


.project-block_two-arrow{
	position:absolute;
	right:30px;
	top:30px;
	width:60px;
	height:60px;
	z-index:2;
	opacity:0;
	font-size:22px;
	line-height:62px;
	text-align:center;
	display:inline-block;
	color:var(--black-color);
	transform:scale(0.2,1);
	border-radius:50px 50px;
	background-color:var(--color-two);
	font-family: "flaticon_mycollection";
}


.project-block_two-arrow:hover{
	color:var(--white-color);
	background-color:var(--main-color);
}


.project-block_two-inner:hover .project-block_two-arrow{
	opacity:1;
	transform:scale(1,1);
}


.testimonial-one .three-item-carousel-prev{
	position: relative;
	width: 60px;
	height: 60px;
	z-index: 10;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	line-height: 58px;
	text-align: center;
	border-radius: 50px;
	display: inline-block;
	color: var(--color-two);
	border: 2px solid rgba(var(--color-two-rgb), 1);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}


.testimonial-one .three-item-carousel-prev:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}


.testimonial-one .three-item-carousel-next:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}


.testimonial-one .three-item-carousel-next{
	position: relative;
	width: 60px;
	height: 60px;
	z-index: 10;
	font-size: 18px;
	line-height: 58px;
	margin-left:10px;
	text-align: center;
	border-radius: 50px;
	text-align: center;
	display: inline-block;
	color: var(--color-two);
	border: 2px solid rgba(var(--color-two-rgb), 1);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}


.news-three .three-item-carousel-prev{
	position: relative;
	width: 60px;
	height: 60px;
	z-index: 10;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	line-height: 58px;
	text-align: center;
	border-radius: 50px;
	display: inline-block;
	color: var(--color-two);
	border: 2px solid rgba(var(--color-two-rgb), 1);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}


.news-three .three-item-carousel-prev:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}


.news-three .three-item-carousel-next:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}


.news-three .three-item-carousel-next{
	position: relative;
	width: 60px;
	height: 60px;
	z-index: 10;
	font-size: 18px;
	line-height: 58px;
	margin-left:10px;
	text-align: center;
	border-radius: 50px;
	text-align: center;
	display: inline-block;
	color: var(--color-two);
	border: 2px solid rgba(var(--color-two-rgb), 1);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

/* Typography Fixes */
.project-detail h1, .project-detail h2, .project-detail h3, .project-detail h4, .project-detail h5, .project-detail h6 {
    font-weight: 700 !important;
    color: #1a1e21; /* Dark heading color */
}
.project-detail .sec-title_heading {
    color: #569D03; /* Ecomatt Green hint? Or stick to dark */
}

